@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Noto+Serif:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Serif', serif;
}

a {
    text-decoration: none;
}

.navBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 2rem;
    flex-wrap: wrap;
}

.navBar-icon,
.navBar-icon>img {
    height: 3rem
}

.menuButton-icon{
    font-size: 2rem;
    color: #D90368;
    border-radius: 2px;
}

.menuButton-icon, #check{
    display: none;
}

.navBar-navigation {
    display: flex;
    gap: 1.5rem;
    justify-content: space-evenly;
}

.navigation-link {
    text-decoration: none;
    color: #A9A9A9;
    padding: .5rem;
    border-radius: 20px;
    position: relative;
    transition: .5s;
}


.navigation-link:hover {
    color: #D90368;
}

.navigation-link::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    top: 100%;
    left: 0;
    transition: transform .5s;
    transform: scale(0);
    transform-origin: right;
    background-color: #D90368;
}

.navigation-link:hover::after {
    transform: scale(1);
    transform-origin: left;
}

.active {
    color: #D90368;
}

main {
    background-color: #F4F4F4;
}

.banner {
    height: 40vh;
    max-width: 100%;
    background-image: url(../images/festival2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 85%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .5);
}

.banner-title {
    font-size: 7rem;
    font-family: 'Fugaz One', cursive;
    color: #fff;
    z-index: 1;
    text-align: center;
}

.form {
    height: 5rem;
    padding: 0 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
    color: #484848;
    flex-wrap: wrap;
}

#checkFilters, .checkFilterBtn {
    display: none;
}

.form-filters {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.form-check-input {
    appearance: none;
    background-color: #A9A9A9;
    border-radius: 3px;
    width: 14px;
    height: 14px;
    cursor: pointer;
}

.form-check-input::after {
    content: '';
    background: url(../images/checkmark-white.svg);
    background-size: contain;
    background-position: center;
    display: block;
    width: 14px;
    height: 14px;
}

.form-check-input:checked {
    background-color: #D90368;
}

.form-searchBar {
    height: 1.75rem;
    display: flex;
    align-items: center;
    gap: .2rem;
}

.searchBar-entry {
    height: 2rem;
    border: 1px solid #A9A9A9;
    border-radius: 5px;
    font-size: 1rem;
    display: flex;
    align-items: center;
    padding: .1rem .3rem;
    color: #484848;
}

.searchBar-entry:focus {
    border: 1px solid #D90368;
    outline: none;
    box-shadow: 0px 0px 8px -1px rgba(252,50,144,0.53);
}

.searchBar-btn {
    height: 2rem;
    width: 2rem;
    color: #fff;
    background-color: #D90368;
    border: none;
    border-radius: 5px;
    transition: all .2s ease-out;
}

.searchBar-btn:hover {
    transform: scale(1.05);
    background-color: #FC3290;
    cursor: pointer;
}

/* Eventos */

.galleryEvent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 3rem 4rem;
    row-gap: 3rem;
}

.cardEvent {
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 5px;
    background-color: #fff;
    gap: .5rem;
    max-width: 250px;
    color: #252525;
    box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.5);
    height: 331px;
    justify-content: space-between;
}

.cardEvent-img {
    width: 100%;
    height: 150px;
}

.cardEvent-img>img {
    width: 100%;
    height: 100%;
    border-radius: 5px 5px 0 0;
}

.cardEvent-text{
    padding: 0 .5rem;
}

.cardEvent-text > h3 {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: .5rem;
}
.cardEvent-text > p {
    font-size: .75rem;
    padding: .5rem 0;
    color: #484848;
}

.cardEvent-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
}

.cardEvent-footer > p {
    font-size: .75rem;
    font-weight: 700;
    color: #D90368;
    
}

.cardEvent-footer a {
    color: #fff;
    display: inline-block;
    padding: .3rem .4rem;
}

.cardEvent-footer button {
    background-color: #D90368;
    border: none;
    border-radius: 5px;
    transition: all .2s ease-out;
}

.cardEvent-footer button:hover {
    transform: scale(1.05);
    background-color: #FC3290;
    cursor: pointer;
}

/* footer */

.footer {
    height: 4rem;
    background-color: #1a1a2b;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4rem;
    color: #D90368;
}

.footer-socialMedia {
    display: flex;
    gap: 2rem;
}

.socialMedia-icon {
    font-size: 1.5rem;
    transition: all .2s ease-out;
    color: #D90368;
}

.socialMedia-icon:hover {
    transform: scale(1.1);
    cursor: pointer;
    color: #FC3290;
}

/* contact */

.formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
}

.formContact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 500px;
    height: 400px;
    padding: 20px;
    background-color: #1a1a2b;
    color: #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.75);
}

.formContact-entry {
    width: 100%;
    margin-top: 0.3rem;
    margin-bottom: 1rem;
    outline: none;
    border: 1px solid #1a1a2b;
    border-radius: 5px;
    padding: .3rem;
    resize: none;
}

.formContact-entry:focus {
    border: 1px solid #D90368;
    box-shadow: 0px 0px 8px -1px rgba(252,50,144,0.53);
}

.formContact-btn {
    align-self: flex-end;
    padding: .5rem;
    color: #fff;
    background-color: #D90368;
    border-radius: 5px;
    border: none;
    transition: all .2s ease-out;
}

.formContact-btn:hover {
    transform: scale(1.05);
    background-color: #FC3290;
    cursor: pointer;
}

/* Details */

.eventDetails {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardDetail{
    width: 100%;
    max-width: 800px;
    height: 350px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    background-color: #1a1a2b;
    color: #fff;
    border-radius: 5px;
}

.cardDetail-image {
    width: 45%;
}

.cardDetail-image > img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 5px;
}

.cardDetail-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}

.cardDetail-title {
    font-size: 1.5rem;
    font-weight: 700;
    color: #FC3290;
}

/* Stats */

.statsTable {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 90vh;
}

table {
    background-color: #272740;
    width: 100%;
    max-width: 90vw;
    table-layout: auto;
    border-spacing: 5px;
    border-collapse: collapse;
    
}

caption {
    background-color: #D90368;
    height: 3rem;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: left;
    padding: .5rem;
}

tr {
    height: 1.5rem;
}

table, th, td {
    border: 1px solid #1a1a2b;
    text-align: center;
    color: #fff;
}

th {
    background-color: #1a1a2b;
    padding-bottom: 5px;
    padding-top: 5px;
}
@media screen and (max-width: 950px){
    .navBar{
        height: auto;
        padding: 0.5rem 1rem;
    }

    .checkBtn, .menuButton-icon{
        display: block;
    }

    .navBar-navigation {
        padding: 2rem .5rem;
        top: 4rem;
        width: 100%;
        flex-direction: column;
        align-items: center;
        position: fixed;
        height: 100vh;
        gap: 2rem;
        left: -100%;
        justify-content: flex-start;
        background-color: #F4F4F4;
        z-index: 20;
        right: 0;
        transition: all .25s;
        font-size: 1.2rem;
    }

    #check:checked ~ .navBar-navigation {
        left: 0;
    }

    .banner-title {
        font-size: 4rem;
    }

    .filtersBtn {
        display: flex;
        align-items: center;
        width: 247px;
        padding: .4rem .75rem;
        background-color: #fff;
        color: #D90368;
        border-radius: 3px;
        border: 1px solid #A9A9A9;
    }

    .checkFilterBtn{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    #checkFilters:checked ~ .form-filters {
        display: flex;
    }

    .form {
        align-items: center;
    }

    .form-filters {
        position: absolute;
        flex-direction: column;
        width: 247px;
        padding: 1rem;
        display: none;
        transition: all .25s ease-out;
        background-color: #fff;
        border: 1px solid #A9A9A9;
    }

    .form-check-label {
        display: flex;
        justify-content: space-between;
    }

    .formContainer {
        height: auto;
    }

    .formContact {
        margin: 3rem 0;
    }

    .statsTable {
        height: auto;
        padding: 1.5rem 0;
    }

    .eventDetails {
        height: 88vh;
    }
    .cardDetail {
        width: 80%;
    }
}
@media screen and (max-width: 480px) {    
    .form {
        flex-direction: column;
        height: auto;
        gap: 1.5rem;
        margin-top: 1.5rem;
    }

    .filters {
        order: 2;
    }

    .filtersBtn {
        order: 2;
    }

    .form-check-input{
        order: 2;
    }

    .form-searchBar {
        width: 100%;
        order: 1;
        justify-content: center;
    }

    .galleryEvent{
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: auto;
        gap: 1.5rem;
        padding: 2rem;
    }

    .formContainer {
        height: auto;
        padding: 1.5rem 0;
    }

    .formContact {
        width: 90%;
    }

    caption {
        font-size: 1rem;
    }

    th, th {
        font-size: .75rem
        ;
    }

    .eventDetails {
        height: auto;
        padding: 2.35rem 1.5rem;
    }
    
    .cardDetail {
        flex-direction: column;
        height: auto;
    }
    
    .cardDetail-image, .cardDetail-text {
        width: 100%;
    }
}

