@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Noto+Serif:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Serif', serif;
}

.navBar {
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 2rem;
}

.navBar-icon,
.navBar-icon>img {
    height: 100%;
}

.navBar-navigation {
    display: flex;
    gap: 1.5rem;
    justify-content: space-evenly;
}

.navigation-link {
    text-decoration: none;
    color: #A9A9A9;
    padding: .5rem;
    border-radius: 20px;
    position: relative;
    transition: .5s;
}


.navigation-link:hover {
    color: #D90368;
}

.navigation-link::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    top: 100%;
    left: 0;
    transition: transform .5s;
    transform: scale(0);
    transform-origin: right;
    background-color: #D90368;
}

.navigation-link:hover::after {
    transform: scale(1);
    transform-origin: left;
}

.active {
    color: #D90368;
}

main {
    background-color: #F4F4F4;
}

.banner {
    height: 40vh;
    max-width: 100%;
    background-image: url(../images/festival2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 85%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .5);
}

.banner-title {
    font-size: 7rem;
    font-family: 'Fugaz One', cursive;
    color: #fff;
    z-index: 1;
}

.form {
    height: 5rem;
    padding: 0 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
    color: #484848;
}

.form-filters {
    display: flex;
    gap: 1rem;
}

.form-check-input {
    appearance: none;
    background-color: #A9A9A9;
    border-radius: 3px;
    width: 14px;
    height: 14px;
    cursor: pointer;
    /* background-image: url(../images/check.svg); */
    background-position: center;
}

.form-check-input:checked {
    background-color: #D90368;
}

.form-searchBar {
    height: 1.75rem;
    display: flex;
    align-items: center;
    gap: .2rem;
}

.searchBar-entry {
    height: 100%;
    border: 1px solid #A9A9A9;
    border-radius: 5px;
    font-size: 1rem;
    display: flex;
    align-items: center;
    padding: .1rem .3rem;
    color: #484848;
}

.searchBar-entry:focus {
    border: 1px solid #D90368;
    outline: none;
}

.searchBar-btn {
    height: 100%;
    width: 1.75rem;
    color: #fff;
    background-color: #D90368;
    border: none;
    border-radius: 5px;
    transition: all .2s ease-out;
}

.searchBar-btn:hover {
    transform: scale(1.05);
    background-color: #FC3290;
    cursor: pointer;
}

/* Eventos */

.galleryEvent {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    align-items: center;
}

.cardEvent {
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 5px;
    background-color: #fff;
    gap: .5rem;
    max-width: 250px;
    color: #252525;
    box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.5);
}

.cardEvent-img {
    width: 100%;
    height: 150px;
}

.cardEvent-img>img {
    width: 100%;
    height: 100%;
    border-radius: 5px 5px 0 0;
}

.cardEvent-text{
    padding: 0 .5rem;
}

.cardEvent-text > h3 {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: .5rem;
}
.cardEvent-text > p {
    font-size: .75rem;
    padding: .5rem 0;
    color: #484848;
}

.cardEvent-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
}

.cardEvent-footer > p {
    font-size: .75rem;
    font-weight: 700;
    color: #D90368;
    
}
.cardEvent-footer button {
    padding: .3rem;
    background-color: #D90368;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: all .2s ease-out;
}

.cardEvent-footer button:hover {
    transform: scale(1.05);
    background-color: #FC3290;
    cursor: pointer;
}

/* footer */

.footer {
    height: 4rem;
    background-color: #1a1a2b;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4rem;
    color: #D90368;
}

.footer-socialMedia {
    display: flex;
    gap: 2rem;
}

.footer-socialMedia > i {
    font-size: 1.5rem;
    transition: all .2s ease-out;
}

.footer-socialMedia > i:hover {
    transform: scale(1.1);
    cursor: pointer;
    color: #FC3290;
}

/* contact */

.formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
}

.formContact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 500px;
    height: 400px;
    padding: 20px;
    background-color: #1a1a2b;
    color: #fff;
    border-radius: 5px;
}

.formContact-entry {
    width: 100%;
    margin-top: 0.3rem;
    margin-bottom: 1rem;
    outline: none;
    border: 1px solid #1a1a2b;
    border-radius: 5px;
    padding: .3rem;
    resize: none;
}

.formContact-entry:focus {
    border: 1px solid #D90368;
}

.formContact-btn {
    align-self: flex-end;
    padding: .5rem;
    color: #fff;
    background-color: #D90368;
    border-radius: 5px;
    border: none;
    transition: all .2s ease-out;
}

.formContact-btn:hover {
    transform: scale(1.05);
    background-color: #FC3290;
    cursor: pointer;
}