@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Noto+Serif:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Serif', serif;
}

.navbar {
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 2rem;
}

.navbar-icon, .navbar-icon > img {
    height: 100%;
}

.navbar-navigation {
    display: flex;
    gap: 1.5rem;
    justify-content: space-evenly;
}

.navigation-link {
    text-decoration: none;
    color: #A9A9A9;
    padding: .5rem;
    border-radius: 20px;
    position: relative;
    transition: .5s;
}


.navigation-link:hover {
    color: #D90368;
}

.navigation-link::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    top: 100%;
    left: 0;
    transition: transform .5s;
    transform: scale(0);
    transform-origin: right;
    background-color: #D90368;
}

.navigation-link:hover::after {
    transform: scale(1);
    transform-origin: left;
}  

.active {
    color: #D90368;
}

main {
    height: 100vh;
    background-color: #F4F4F4;
}

.banner {
    height: 60vh;
    max-width: 100%;
    background-image: url(../images/festival.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 85%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .5);
}

.banner-title {
    font-size: 7rem;
    font-family: 'Fugaz One', cursive;
    color: #fff;
    z-index: 1;
}